
<div class="container">
  <h1>Creating Your Cocktail</h1>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <%= simple_form_for [@cocktail] do |f|  %>
      <%= f.input :name %>
      <%= f.submit "Submit", class: "btn btn-primary" %>
      <% end %>
     </div>
  </div>
</div>


