<% @ingredients = Ingredient.all %>

<div class="container">
  <h1>Creating Your Dose</h1>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <%= simple_form_for [@cocktail, @dose] do |f|  %>
      <%= f.input :description %>
      <%= f.input :ingredient_id, collection: @ingredients, as: :select %>
      <%= f.submit "Submit", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>


</div>
.
